# share assets structure but ignore contents
assets/**/*.wav
assets/**/*.png

# Binaries for programs and plugins
*.exe
goeats
bin/*
dist/*

# OSX stuff
.DS_Store

# VSCode files
.vscode

# tracking list. 
TODO