# share assets structure but ignore contents
assets/**/*.wav
assets/**/*.mp3
assets/**/*.png

# Binaries for programs and plugins
*.exe
goeats

# OSX stuff
.DS_Store

# VSCode files
.vscode

# tracking list. 
TODO.txt